@font-face {
  font-family: "Norse";
  src: url("../fonts/Norsebold.otf");
  font-weight: 800;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
}

.container {
  margin-left: 50px;
  max-width: 800px;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 100dvh;
  background-image: url("../img/backround.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.left-side__logo {
  margin: 200px 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo__img {
  display: inline-block;
  width: 80px;
}

.logo__text {
  font-family: Norse;
  font-weight: 800;
  color: #ffffff;
  font-size: 90px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 120px;
  opacity: 0.8;
}

.copyright p {
  font-size: 12px;
  color: white;
}

.copyright a {
  color: white;
}

.right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  background-color: rgb(238, 236, 236);
}

.text {
  font-size: 26px;
  font-weight: bold;
}

.right-side__textmain {
  margin-bottom: 30px;
}

.right-side__textsemi {
  margin-bottom: 50px;
}

.form {
  padding: 50px 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px 5px rgb(206, 203, 203);
  margin-bottom: 30px;
}

.form__fieldset {
  flex-wrap: wrap;
  display: flex;
  border: none;
  row-gap: 30px;
  column-gap: 70px;
}

.form__elem {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form__elem label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form__elem input {
  width: 280px;
  height: 30px;
  border: 2px solid #e5e7eb;
  padding-left: 3px;
  border-radius: 5px;
}

.form__elem input:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 0px 3px 20px 0px #bcbdc0;
}

.form__elem input[type="password"]:user-invalid {
  outline: none;
  border: 2px solid red;
}

.submitBtn {
  width: 230px;
  background-color: #596d48;
  color: white;
  border: none;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

.login {
  font-weight: 600;
}

.login a {
  text-decoration: none;
  color: #596d48;
}
